table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid gray;
    }
    tr:nth-of-type(2n+1){
        background-color: aqua;
    }
    td,th{
        text-align: right;
        padding: 0.3em;
    }
    th{
        background-color: rgb(200, 9, 105);
        color: white;
    }
    td:last-of-type{
        text-align: right;
    }
}
button{
    background-color: rgb(180, 110, 124);
    color: white;
    padding: 0.2em 0.4em;
    border: none;
   border-radius: 0.3em;
   margin: 0.2em ;
}