@if (action=='list') {
    
    <div >
        <button (click)="add()">افزودن</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>شناسه</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>تلفن</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (member of data; track $index) {
                
                <tr>
                    <td>{{member.id}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.family}}</td>
                    <td>{{member.kodmeli}}</td>
                    <td>{{member.tel}}</td>
                    <td>
                        <button (click)="edit(member)">ویرایش</button>
                        <button (click)="remove(member)">حذف</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@else {
 @if (action == 'remove') {
<div class="alert">
آیا از حذف این کتاب اطمینان دارید؟
 </div>
 }
    <form (ngSubmit)="save()">
    
        <div >
            <input [class.makhfi]="action=='edit'" [disabled]="action=='edit' || action=='remove'" [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
        </div>
        <div>
            <input [disabled]=" action=='remove'" [(ngModel)]="item.name" id="name" name="name" type="text" placeholder="نام">
        </div>
        <div>
            <input [disabled]=" action=='remove'" [(ngModel)]="item.family" id="family" name="family" type="text" placeholder="نام خانوادگی">
        </div>
        <div>
            <input [disabled]=" action=='remove'" [(ngModel)]="item.kodmeli" id="kodmeli" name="kodmeli" type="number" placeholder="کد ملی">
        </div>
        <div>
            <input [disabled]=" action=='remove'" [(ngModel)]="item.tel" id="tel" name="tel" type="number" placeholder="تلفن">
        </div>
        <div>
            <button type="submit">تایید</button>
            |<button (click)="cancel()" type="button">انصراف </button>
        </div>
    </form>
}
